*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: var(--black);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --brand: #bf7631;
    --gray: #707070;
    --black: #000000;
    --white: #ffffff;
}

main {
    margin: 0 auto;
    min-height: 100vh;
}

header,
section {
    margin: 0 5rem;
}

.brand-color {
    color: var(--brand);
}

.product-card {
    max-width: 300px;
}

.product-card hr {
    width: 75%;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1.5px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin: .75rem 0;
}

.product-details p {
    font-size: larger;
}

.product-description {
    margin-bottom: 1rem;
}

.product-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-cta a {
    font-size: larger;
    color: var(--brand);
    text-underline-offset: 4px;
    font-weight: 600;
}

.product-cta a:hover {
    color: var(--white);
    background-color: var(--brand);
}

.product-cta button {
    border-style: none;
    background-color: var(--brand);
    color: var(--white);
    padding: .3rem .75rem;
    font-weight: bold;
}

.product-cta button:hover {
    cursor: pointer;
    color: var(--brand);
    background-color: var(--white);
}

.section-header {
    margin: 5rem 0;
    font-size: larger;
    padding-top: 5rem;
}

.section-header hr {
    width: 50%;
    border-style: solid;
    border-width: 1px;
    margin-top: .75rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    font-size: 1.2rem;
}

.nav-links a {
    text-decoration: none;
}

.brand {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.75rem;
    letter-spacing: .5rem;
}

.brand img {
    padding-right: .3rem;
}

.nav-cta {
    position: relative;
    font-size: 1.2rem;
}

.nav-cta img {
    position: absolute;
    top: 0;
    right: 7.2rem;
}

.nav-cta a {
    margin-left: 2rem;
    text-decoration: none;
}

.nav-hr {
    border-style: solid;
    border-width: 1px;
    margin-top: .75rem;
}

.hero {
    margin: 2rem 0;
    height: 450px;
    background-image: url("./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    position: relative;
}

.hero p {
    color: var(--white);
    font-size: 2rem;
    max-width: 150px;
}

.hero-one {
    position: absolute;
    top: 6rem;
    left: 6rem;
}

.hero-two {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
}

.about-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-areas: 
        "about-content-one about-content-one vase-one"
        "vase-two about-content-two vase-one"
        "vase-two about-content-three vase-one";
}

.about-content-one {
    grid-area: about-content-one;
}

.about-content-two {
    grid-area: about-content-two;
}

.about-content-three {
    grid-area: about-content-three;
}

.vase-one {
    grid-area: vase-one;
}

.vase-two {
    grid-area: vase-two;
}

.contact-us {
    margin-bottom: 8rem;
}

.contact-form {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.contact-form label {
    font-size: 1.25rem;
}

.contact-form input[type="email"] {
    height: 30px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    border-style: none;
    background-color: var(--brand);
    color: var(--white);
    padding: .3rem .75rem;
    font-weight: bold;
    width: 90px;
    margin-left: auto;
}

.contact-form button:hover {
    cursor: pointer;
    color: var(--brand);
    background-color: var(--white);
}

footer img {
    width: 50px;
}

footer {
    background-color: var(--brand);
    position: relative;
    height: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
}

.brand-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .5rem;
}

.footer-subtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}