*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: var(--black);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --brand: #bf7631;
    --gray: #707070;
    --black: #000000;
    --white: #ffffff;
}

main {
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

header,
section {
    margin: - 5rem;
}

.brand-color {
    color: var(--brand);
}

.product-card {
    max-width: 300px;
}

.product-card hr {
    width: 75%;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1.5px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin: .75rem 0;
}

.product-details p {
    font-size: larger;
}

.product-description {
    margin-bottom: 1rem;
}

.product-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-cta a {
    font-size: larger;
    color: var(--brand);
    text-underline-offset: 4px;
    font-weight: 600;
}

.product-cta button {
    border-style: none;
    background-color: var(--brand);
    color: var(--white);
    padding: .3rem .75rem;
    font-weight: bold;
}

.product-cta button:hover {
    cursor: pointer;
    color: var(--brand);
    background-color: var(--white);
}



